*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color-scheme: dark;
}

header {
    padding: 20px;
    text-align: center;
}

#roomForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

#roomForm input {
    border: 1px solid;
    border-radius: 10px;
    padding: 12px;

}

#roomForm button {
    border: 1px solid;
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
}

#chatBox {
    justify-content: center;
}

#chat {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#players {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    width: 250px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#message {
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

canvas {
    border-radius: 20px;
    border: 2px solid white;
    /* display: block; */
}

.color-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}